<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :packet %><br>
    <%= f.text_field :packet %>
  </div>
  <% fields = ['deviceUUID', 'uuid', 'identifier', 'major', 'minor', 'type', 'proximity', 'latitude', 'longitude', 'acquired'] %>
  <% for field in fields %>
    <div class="field">
      <%= f.label field %><br>
      <%= f.text_field field %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
